.d-flex{
  display: flex;
}
.m-3{
  margin: 0 10px;
}
.justify-content-center{
  justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.btn{
  position: relative;
  margin: 0 15px;
  padding: 5px 25px;
}

.App {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  min-height: 100vh;
  background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.App section{
    padding: 50px 25px;
    width: 600px;
}
.App section .inputBar input{
  width: 70%;
  padding: 8px 10px;
  outline: 0 !important;
  border: 0;
  border-radius: 8px;
}
.listItem{
background: rgba(255, 255, 255, 0.2);
border-radius: 12px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin: 15px 0;
padding: 8px 15px;
text-align: left;
transition: 0.2s;

}
.listItem .btnDone{
  cursor: pointer;
}

.listItem:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}
.rem_label{
  margin: 35px 0 15px 0;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
